includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/slam/phpstan-extensions/conf/symfony-rules.neon

parameters:
    level: 6

    paths:
        - %currentWorkingDirectory%/src

    universalObjectCratesClasses:
        - Contao\Model

    excludePaths:
        - %currentWorkingDirectory%/src/Resources/*

    ignoreErrors:
        - '#is never assigned null so it can be removed from the property type#'
        - '#Instanceof between [a-zA-Z0-9\\_]+ and [a-zA-Z0-9\\_]+ will always evaluate to true#'
        - '#Access to an undefined property Contao\\FrontendTemplate#'
        - '#Access to an undefined property Contao\\DataContainer#'
        - '#Strict comparison using !== between array and null will always evaluate to true#'
        - '#Call to function is_array\(\) with array will always evaluate to true#'
        - identifier: missingType.iterableValue

    treatPhpDocTypesAsCertain: false