
#ctrl_animationeffects tr {
  background-color: #F9F9F9;
  border-bottom: 1px solid #000;
}

#ctrl_animationeffects tr th {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
} 

#ctrl_animationeffects tr td {
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
  text-align: center;
}

#ctrl_animationeffects .tl_mselect {
  min-height: 175px;
}

#ctrl_animationeffects .tl_submit {
  height: 48px;
}

#ctrl_animationeffects .tl_checkbox_single_container {
  padding-left: 25px;
  padding-top: 5px;
}