
.has-responsive-background-image {
  position: relative;
}

.has-responsive-background-image.parallax {
  background: transparent;
  overflow: hidden;
  margin: 0;
}

.has-responsive-background-image .parallax-bgimage {
  background-size: auto;
  position: absolute;
  z-index: -200;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-position-x: left;
  background-position-y: top;
  background-repeat: no-repeat;
}