
.has-animationeffects {
    position: relative;
}

.has-animationeffects .animation-effect {
    position: absolute;
    z-index: -199;
    top: 0;
    left: 0;
    animation-duration: 5s;
}

.has-animationeffects .animation-effect-foreground {
    z-index: 1;
}

.has-animationeffects .animation-effect-hide {
    display: none;
}

@media (prefers-reduced-motion: reduce) {
    .has-animationeffects .animation-effect-reducedmotion {
        display: none;
    }
}