
div:has(div[data-controller="animation"]) {
    position: relative;
}

div:has(div[data-controller="animation"]) .animation-effect {
    position: absolute;
    z-index: -199;
    top: 0;
    left: 0;
    animation-duration: 5s;
}

div:has(div[data-controller="animation"]) .animation-effect-foreground {
    z-index: 1;
}

div:has(div[data-controller="animation"]) .animation-effect-hide {
    opacity: 0;
}

@media (prefers-reduced-motion: reduce) {

    div:has(div[data-controller="animation"]) .animation-effect-reducedmotion {
        display: none;
    }

}