
.has-responsive-background-image {
    position: relative;
}

.has-responsive-background-image.parallax {
    background: transparent;
    overflow: hidden;
    margin: 0;
}

div[data-controller="parallax"] {
    background-size: auto;
    position: absolute;
    z-index: -200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
}

.has-animationeffects {
    position: relative;
}

.has-animationeffects .animation-effect {
    position: absolute;
    z-index: -199;
    top: 0;
    left: 0;
    animation-duration: 5s;
}

.has-animationeffects .animation-effect-foreground {
    z-index: 1;
}

div[data-animation-hide-value="1"] {
    opacity: 0;
}

@media (prefers-reduced-motion: reduce) {

    .has-animationeffects .animation-effect-reducedmotion {
        display: none;
    }

}